# POSTGRESQL ENVIRONMENT VARIABLES

POSTGRES_USER=root
POSTGRES_PASSWORD=mystrongpassword
POSTGRES_DB=myapp_db

# =============================================

# BACKEND ENVIRONMENT VARIABLES

# Environment variables for database connection
DB_HOST=db
DB_PORT=5432 # Default PostgreSQL port
DB_USER=root
DB_PASSWORD=mystrongpassword
DB_NAME=myapp_db
DB_SSLMODE=disable

# Environment variable for JWT secret key
JWT_SECRET_KEY=supersecret

# Key for encryption
AES_KEY=your_encryption_key_here
HMAC_KEY=your_hmac_key_here

# ==============================================

# FRONTEND ENVIRONMENT VARIABLES

NEXT_PUBLIC_API_URL=http://backend:8080