# Backend Url Configuration
BASE_URL=http://localhost:8080 # Sesuaikan dengan alamat backend docker-compose

# Environment variables for database connection
DB_HOST=localhost
DB_PORT=5432 # Default PostgreSQL port
DB_USER=myuser
DB_PASSWORD=mysecretpassword
DB_NAME=mydb
DB_SSLMODE=disable

# Environment variable for JWT secret key
JWT_SECRET_KEY=your_jwt_secret_key_here

# Key for encryption
AES_KEY=your_encryption_key_here
HMAC_KEY=your_hmac_key_here

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# !COPY FILE DULU BARU EDIT! #
# FUNGSI DARI FILE INI DIGUNAKAN UNTUK MENYIMPAN VARIABEL LINGKUNGAN BACKEND (BERBEDA DENGAN .env YANG ADA DILUAR) #