# Environment variables for database connection
DB_HOST=localhost
DB_PORT=5432 # Default PostgreSQL port
DB_USER=myuser
DB_PASSWORD=mysecretpassword
DB_NAME=mydb
DB_SSLMODE=disable

# Environment variable for JWT secret key
JWT_SECRET_KEY=your_jwt_secret_key_here

# !COPY FILE DULU BARU EDIT! #
# FUNGSI DARI FILE INI DIGUNAKAN UNTUK MENYIMPAN VARIABEL LINGKUNGAN BACKEND (BERBEDA DENGAN .env YANG ADA DILUAR) #