# Environment variables for database connection
DB_HOST=localhost
DB_PORT=5432 # Default PostgreSQL port
DB_USER=myuser
DB_NAME=mydb
DB_PASSWORD=mysecretpassword
DB_SSLMODE=disable


# !COPY FILE DULU BARU EDIT! #