@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --text-secondary: var(--text-secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: #fdfdfb;
  --foreground: #232323;
  --text-secondary: #a29f9f;
  --card: #ffffff;
  --card-foreground: #232323;
  --popover: #ffffff;
  --popover-foreground: #232323;
  --primary: #0a84dc;
  --primary-foreground: #ffffff;
  --secondary: #dcdcdc;
  --secondary-foreground: #232323;
  --muted: #f2f2f2;
  --muted-foreground: #545454;
  --accent: #e7f3fc;
  --accent-foreground: #0a84dc;
  --destructive: #e33127;
  --destructive-foreground: #ffffff;
  --border: #dcdcdc;
  --input: #dcdcdc;
  --ring: #0a84dc;
  --chart-1: #0a84dc;
  --chart-2: #e33127;
  --chart-3: #e7a41f;
  --chart-4: #5bade8;
  --chart-5: #075e9c;
  --sidebar: #fdfdfb;
  --sidebar-foreground: #333333;
  --sidebar-primary: #0a84dc;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f2f2f2;
  --sidebar-accent-foreground: #0a84dc;
  --sidebar-border: #dcdcdc;
  --sidebar-ring: #0a84dc;
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 2px 4px -1px hsl(0 0 0 / 0.1);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 4px 6px -1px hsl(0 0 0 / 0.1);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 8px 10px -1px hsl(0 0 0 / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0 0 / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: #232323;
  --foreground: #fdfdfb;
  --card: #121212;
  --card-foreground: #fdfdfb;
  --popover: #121212;
  --popover-foreground: #fdfdfb;
  --primary: #0a84dc;
  --text-secondary: #a29f9f;
  --primary-foreground: #ffffff;
  --secondary: #333333;
  --secondary-foreground: #ffffff;
  --muted: #121212;
  --muted-foreground: #acacac;
  --accent: #075e9c;
  --accent-foreground: #ffffff;
  --destructive: #e33127;
  --destructive-foreground: #ffffff;
  --border: #333333;
  --input: #333333;
  --ring: #0a84dc;
  --chart-1: #0a84dc;
  --chart-2: #e33127;
  --chart-3: #e7a41f;
  --chart-4: #5bade8;
  --chart-5: #075e9c;
  --sidebar: #121212;
  --sidebar-foreground: #f2f2f2;
  --sidebar-primary: #0a84dc;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #333333;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #333333;
  --sidebar-ring: #0a84dc;
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 10px 20px 0px hsl(0 0 0 / 0.25);
  --shadow-xs: 0px 10px 20px 0px hsl(0 0 0 / 0.25);
  --shadow-sm:
    0px 10px 20px 0px hsl(0 0 0 / 0.5), 0px 1px 2px -1px hsl(0 0 0 / 0.5);
  --shadow:
    0px 10px 20px 0px hsl(0 0 0 / 0.5), 0px 1px 2px -1px hsl(0 0 0 / 0.5);
  --shadow-md:
    0px 10px 20px 0px hsl(0 0 0 / 0.5), 0px 2px 4px -1px hsl(0 0 0 / 0.5);
  --shadow-lg:
    0px 10px 20px 0px hsl(0 0 0 / 0.5), 0px 4px 6px -1px hsl(0 0 0 / 0.5);
  --shadow-xl:
    0px 10px 20px 0px hsl(0 0 0 / 0.5), 0px 8px 10px -1px hsl(0 0 0 / 0.5);
  --shadow-2xl: 0px 10px 20px 0px hsl(0 0 0 / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --text-secondary: var(--text-secondary);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
